// Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap');

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
	rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;
$generic-lightGrey: #b2b2b2;
$generic-font-size: 14.5px;

//General
html {
	box-sizing: border-box;
}

*,
*:before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: $generic-font-size;
	font-weight: 300;
	font-family: 'Railway', sans-serif;
	color: #202020;
}

h2 {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: $generic-font-size;
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	height: 1px;
	width: 100%;
	color: #f1f1f1; /* old IE */
	background-color: #f1f1f1; /* Modern Browsers */
	margin-top: 5px;
}

//Mixins
@mixin va() {
	display: flex;
	align-items: center;
}

@mixin text-small() {
	color: $generic-lightGrey;
	font-size: 13px;
	font-weight: 300;
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin mq($from) {
	@media (max-width: $from) {
		@content;
	}
}

// Reusable Components
.button__primary {
	display: inline-block;
	background-color: $generic-bg;
	border: none;
	color: white;
	border-radius: 5px;
	padding: 8px 10px;
	width: fit-content;
	cursor: pointer;
}

// Header
.header {
	background-color: $generic-bg;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	height: 44px;
	z-index: 400;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 42px;

	.header__nav {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin: auto;
		height: 44px;
		color: white;

		a {
			text-decoration: none;
			color: white;
		}

		.header__navLeft {
			grid-area: 1/1;

			.header__navLeftList {
				@include va;
				float: left;

				.header__item {
					margin-right: 8px;
				}
			}
		}

		.header__navRight {
			grid-area: 1/2;

			.header__navRightList {
				float: right;

				.header__item {
					margin-left: 8px;
				}
			}
		}

		.header__item {
			@include va;
			justify-content: center;

			list-style-type: none;
			cursor: pointer;
			width: 30px;
			height: 30px;
			font-size: 20px;
			text-align: center;
			float: left;

			&:hover {
				border-radius: 3px;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}

		.header__itemSearch {
			@include va;
			height: 28px;
			width: 183px;
			padding: 0 8px;
			border-radius: 3px;
			background-color: rgba(255, 255, 255, 0.2);
			justify-content: left;

			.header__searchIcon {
				@include va;
			}

			.header__searchText {
				margin-left: 8px;
				font-size: 13px;
			}
		}
	}
}

// Main

.main {
	display: flex;
}

// Sidebar
.sidebar {
	@include no-select();
	width: 375px;
	height: 100vh;
	padding-top: 60px;
	padding-left: 35px;
	padding-right: 5px;
	background-color: #fafafa;

	@include mq('450px') {
		display: none;
	}

	a {
		text-decoration: none;
		color: #202020;
	}

	.sidebar__section {
		margin-top: 15px;
	}

	.sidebar__grid {
		display: grid;
		grid-template-rows: 1;
		grid-template-columns: 1fr 6fr 1fr;
		grid-column-gap: 10px;
		grid-template-areas: 'icon text info';
		height: 38px;
		width: 100%;
		padding: 10px 10px;
		align-items: center;

		.sidebar__icon {
			grid-area: 'icon';
			height: 100%;
			display: flex;
			align-items: center;

			svg {
				font-size: 19px;
				width: 100%;
			}
		}

		.sidebar__iconChevron {
			svg {
				font-size: 15px;
				width: 100%;
			}
		}

		.sidebar__text {
			grid-area: 'text';
		}

		.sidebar__info {
			@include text-small();
			grid-area: 'info';
			text-align: right;
		}

		.sidebar__iconInbox {
			color: #246fe0;
		}

		.sidebar__iconToday {
			color: #058527;
		}

		.sidebar__iconUpcoming {
			color: #692fc2;
		}
	}

	.sidebar__item {
		&.active,
		&:hover {
			cursor: pointer;
			border-radius: 5px;
			background-color: #ececec;
		}
	}

	.sidebar__projectsList {
		&:nth-child(1) {
			.sidebar__project {
				.sidebar__dot {
					color: #6accbc;
				}
			}
		}

		&:nth-child(2) {
			.sidebar__project {
				.sidebar__dot {
					color: #fad003;
				}
			}
		}

		&:nth-child(3) {
			.sidebar__project {
				.sidebar__dot {
					color: #ff8d85;
				}
			}
		}

		&:nth-child(4) {
			.sidebar__project {
				.sidebar__dot {
					color: #ff9932;
				}
			}
		}

		&:nth-child(5) {
			.sidebar__project {
				.sidebar__dot {
					color: #af38eb;
				}
			}
		}
	}
}

.sidebar__hidden {
	display: none;
}

// Content
.content {
	width: 100%;
	height: 100vh;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;

	.content__container {
		max-width: 800px;
		margin: auto;

		.content__containerTitle {
			font-size: 20px;
		}

		.content__section {
			margin-top: 45px;

			.content__sectionTitle {
				margin-bottom: 8px;
			}
		}
	}
}

//Task Item
.tasksList {
	.task {
		@include no-select();
		list-style: none;
		padding: 4px 0;
		cursor: pointer;

		.task__line {
			@include va;
			display: grid;
			grid-template-columns: 30px auto 50px;
			grid-template-areas: 'start center end';
		}

		.task__line1 {
			.task__name {
				grid-area: center;
			}

			.task__icons {
				grid-area: end;
				display: grid;
				grid-template-columns: 1fr 1fr;
				color: $generic-lightGrey;
				font-size: 16px;
			}
		}

		.task__line2 {
			.task__description {
				@include va;
				@include text-small();
				grid-area: center;
				margin: 3px 0;
			}
		}

		.task__line3 {
			.task__dueDateContainer {
				@include va;
				@include text-small();
				grid-area: center;

				.task__dueDateIcon {
					@include va;
					font-size: 11px;
					margin: 3px 5px 3px 0px;
				}
			}
		}
	}
}

// Task Form
.addTaskForm__inputContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;

	.input {
		border: none;
	}

	.input:focus {
		outline: none;
	}

	.input::placeholder {
		color: #b2b2b2;
	}

	.input__name {
		margin-bottom: 10px;
	}

	.input__description {
		font-size: 13px;
		font-weight: 300;
	}
}

.addTaskForm__inputContainer:focus-within {
	border: 1px solid #b2b2b2;
}

// Checkbox
.checkbox {
	width: 18px;
	height: 18px;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Hide the browser's default checkbox */
	input {
		position: absolute;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkbox__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 1px solid grey;
		border-radius: 50%;
	}
}

/* On checkbox mouse-over, add a background color */
.checkbox:hover input ~ .checkbox__checkmark {
	background-color: #eee;
}

/* When the checkbox is checked, change background*/
.checkbox input:checked ~ .checkbox__checkmark {
	background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark on hover */
.checkbox input:hover ~ .checkbox__checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkbox__checkmark:after {
	left: 6px;
	top: 4px;
	width: 5px;
	height: 7px;
	border: solid grey;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
